<?xml version="1.0" encoding="UTF-8"?>                                                                                                                                                                             
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
    <vendor>Peony share</vendor>
    <vendor_url>https://github.com/explorer-cs/peony-qt-extensions</vendor_url>
    <action id="org.freedesktop.pkexec.peony_share">
        <description>Peony Share</description>
        <description xml:lang="zh_CN">peony 文件共享</description>
        <message>Authentication Peony share</message>
        <message xml:lang="zh_CN">peony share 身份验证</message>
        <icon_name>system-file-manager</icon_name>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_inactive>yes</allow_inactive>
            <allow_active>yes</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/peony-share.sh</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>
